.vs
Library
Temp
Game_Build
Assembly-CSharp.csproj Assembly-UnityScript.unityproj Assets bot_explorador.sln but_explorador.sln Game_Build Library ProjectSettings README.md Roll-a-ball-exemplo.sln unity3ddad8ee526fce2437ebe2ccde86d10b56.sln .apk
Assembly-CSharp.csproj Assembly-UnityScript.unityproj Assets bot_explorador.sln but_explorador.sln Game_Build Library ProjectSettings README.md Roll-a-ball-exemplo.sln unity3ddad8ee526fce2437ebe2ccde86d10b56.sln .csproj
Assembly-CSharp.csproj Assembly-UnityScript.unityproj Assets bot_explorador.sln but_explorador.sln Game_Build Library ProjectSettings README.md Roll-a-ball-exemplo.sln unity3ddad8ee526fce2437ebe2ccde86d10b56.sln .sln
/build
/.vscode
/CristalBotUnity_Data
